.tfl-line-status {
	padding: 2%;
	background: #EEEEEE;
	font-size: 1.1em;
	min-width: 400px;
}

.tfl-line-status dt {
	color: #fff;
	width: 46%;
	padding: 0 2%;
	float: left;
	border-bottom: 1px solid #fff;
}

.tfl-line-status dt a {
	color: #fff !important;
}

.tfl-line-status dd {
	color: #000;
	background: #fff;
	width: 46%;
	padding: 0 2%;
	float: right;
	border-bottom: 1px solid #eee;
}

.tfl-line-status dd a {
	color: #000 !important;
}

.tfl-line-status .bakerloo {
	background: #AE6118;
}

.tfl-line-status .central {
	background: #E41F1F;
}

.tfl-line-status .circle {
	background: #F8D42D;
}

.tfl-line-status .district {
	background: #00A575;
}

.tfl-line-status .hammersmith-and-city {
	background: #E899A8;
	color: #113B92;
}

.tfl-line-status .hammersmith-and-city a {
	color: #113B92 !important;
}

.tfl-line-status .jubilee {
	background: #8F989E;
}

.tfl-line-status .metropolitan {
	background: #893267;
}

.tfl-line-status .northern {
	background: #000000;
}

.tfl-line-status .piccadilly {
	background: #0450A1;
}

.tfl-line-status .victoria {
	background: #009FE0;
}

.tfl-line-status .waterloo-and-city {
	background: #70C3CE;
}

.tfl-line-status .overground {
	background: #F86C00;
}

.tfl-line-status .dlr {
	background: #00BBB4;
}
